@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient( 110deg, #fff1f1 , hsl(0deg 0% 0%) );
  height: auto;
  width:  auto;
}

 .logo h1{
  color: rgb(255, 0, 157);
  cursor: cursor;
  font-family: 'Shadows Into Light', cursive;
}


.m{
  color: aquamarine;
}


.p{
  color: rgb(255, 17, 17);
}



.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding :  20px 30px 20px 9px ;
  list-style: none;
  margin: 0 27px;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.navbar:hover{
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.navbar ul li{
  padding: 0px 35px ;
  list-style-type: none;
  display: inline;
  font-weight: lighter;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  color: aliceblue;
}

.navbar ul li:hover{
  font-weight: 700;
  font-size: 25px;
  color: rgb(110, 15, 148);
}




.card-title h1{
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.781);
}
.card-title h1:hover{
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/*  SecondSec */

.card-title{
  background: linear-gradient( 110deg, #3919c9  , hsl(86, 90%, 44%) );
  color: #33b3d3, rgb(171, 32, 199);
padding-left: 40px;
margin-top: 40px;
}

.cards{
  padding: 43px 26px;
}

 .card{
     display: inline-flex;
     justify-content: center;
     flex-direction: column;
   }


.info .text-center{
  margin: 7px 0;
  text-align: center;
}

p.my-1.text-center {
  color: red;
  font-family: 'Caveat', cursive;
}







.btn{
  font-size: 11px;
  padding: 12px 17px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 24px;
  margin-top: 2px;
}


.btn:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 170);
  outline: 0;
}

.btn{
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  color: rgb(255, 0, 0);
  font-family: 'Caveat', cursive;
}

.btn:hover{
box-shadow: 0 0 6px 6px ;
}


.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* PlayMusic Css  */

.container{
  border: 5px solid  rgb(231, 8, 8);
  border-radius: 38px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.music-img img{
margin-top: 40px;
border : 2px solid rgb(255, 0, 0);
display: block;
border-radius: 990px;
} 


.music-by h1{
  margin-top: 35px;
  font-size: 20px;
  margin-left: 114px;
}

.duration{
  display: flex;
  gap: 10px;

}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap:  19px;

}

.content h1{
  color: red;
  margin-top:  15px;
}


.playerBar{
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.currTime, .durTime{
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  color: blanchedalmond;
  }


 .progressBar{
    --seek-before-width: 0;
    --seek-before-color: rgb(207, 228, 19);
    --knobby: rgb(0, 0, 0);
    --selectedKnobby: rgb(238, 67, 238);
     appearance:  none;
     background-color: blueviolet;
     border-radius: 10px;
     width: 250px;
     height: 11px;
     outline: none;
}


.progressBar::before{
    content : '';
    height: 11px ;
    width: var(--seek-before-width);
    background-color:  red;
    border-top-left-radius: 10px;
    border-bottom-left-radius:  10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.audioPlayer button{
  margin-top: 40px;
  width: 100px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 70px;
  color: blueviolet;
}


.cards {
  border: 4px solid rgb(255, 255, 255);
margin: 68px auto;
border-radius: 21px;
height: 246px;
background-color: #101010;
}

.card-img img {
  border: 8px solid rgb(255, 255, 255);
}

.info {
  margin: 9px auto;
}


.text-center.my-2 {
  color: chartreuse;
  font-family: 'Caveat', cursive;
}

.text-center.my-3 {
  color: #ff002d;
  font-family: 'Caveat', cursive;
}


#anujproject {
  background-color: #000;
}

a {
  text-decoration: none;
}

/* * contact us   */

.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;

}

.about img{
  height: 500px;
width: 520px;
margin-right: 98px;
}

.about-text{
  width: 550px;
}

.main{
  width: 1120px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1{
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}


.about-text h5 {
  color: #f90049;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}


.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 30px;
}

.about button{
  background: #f90049;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.about button:hover{
  background: transparent;
  border: 2px solid #f90049;
  cursor: pointer;
}



/*  Responsive Part  */

/* header  */

@media(max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:768px) {
  html {
    font-size: 45%;
  }
}










